// ==========================================================================
// Base Styles
// ==========================================================================

// Lists

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// Images

img {
    max-width: 100%;
    display: block;
}

// Form elements

input,
textarea {
    display: block;
    outline: 0;
    border: 1px solid $color-primary;
}

input:focus,
textarea:focus {
    transition: $transitions-duration ;
}

// Button

button {
    outline: 0;
}