//Font Size

$fontSize--sm: (
    "h1":rem(32),
    "h2":rem(24),
    "h3":rem(20),
    "h4":rem(18),
    "h5":rem(16),
    "h6":rem(14),
    "p":rem(12),
);

$fontSize--md: (
    "h1":rem(48),
    "h2":rem(32),
    "h3":rem(28),
    "h4":rem(24),
    "h5":rem(20),
    "h6":rem(18),
    "p":rem(14),
);

$fontSize--lg: (
    "h1":rem(64),
    "h2":rem(48),
    "h3":rem(32),
    "h4":rem(28),
    "h5":rem(24),
    "h6":rem(20),
    "p":rem(18),
);