// ==========================================================================
// Form Elements
// ==========================================================================

.form {
    @include bem__e(label) {
        @include bem--m(hidden) {
            @extend .sr-only;
        }

        display: block;
        margin-bottom: em(10);
    }

    @include bem__e(input) {
        font-size: em(18);
        margin-bottom: em(20, 18);
        // border-bottom: 6px solid palette(grey, x-light);
        border-radius: $br--default;

        // background: palette(grey, xx-light);
        // color: palette(black, dark);
        // font-weight: $font-weight--light;
        // 
        &:focus {
            // border-color: $color-primary;
        }
    }

    @include bem__e(btn) {
        @extend %btn;
        // background: $color-primary;
    }
}