$brkpoint-md: 550px;

//Clear input number arrows/ Spinners
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    width: 100%;
    font-weight: 400;
    color: $text-body;
    font-family: $font-family--primary !important;
    padding: rem(16);
    background: $input-bg;
    border: 1px solid #dfc591;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.13);
    border-radius: 9px;
    min-height: 45px;
}

input[type="number"] {
    border-radius: 0;
    text-align: center;
}

input[id="time-within"] {
    padding-right: 65px;
    max-width: 108px;
    text-align: left;

    @media screen and (min-width:922px) {
        max-width: 120px;
    }
}

input:valid {
    border: 1px solid rgba(36, 62, 54, 0.75);
}

input:invalid {
    border: 1px solid rgba(243, 6, 6, 0.75);
}

// input:invalid+.error {
//     visibility: visible;
// }

label.secondary__text {
    display: block;
    min-width: 5ch;
    margin-bottom: rem(4);
    text-transform: unset;
    color: $text-body;
    font-family: $font-family--primary !important;
    flex-shrink: 0;
}