#reserve {

    .reserve__main {
        margin-top: rem(64);
        margin-left: auto;
        margin-right: auto;


        &__head {
            text-align: center;
        }

        .reserve__picktime {
            margin: 0 auto;
            margin-top: rem(32);
            max-width: 500px;

            @include pseudo-el(before, 100%, 100%) {
                display: none;
                left: -20px;
                top: 20px;
                background-color: transparent;
                border: 1px solid rgba($text-body, 0.6);
                z-index: -1;
                border-radius: $br--default;
            }

            @include media(medium) {
                border-radius: $br--default;
            }

            @include media(large) {
                display: flex;
                margin-top: rem(48);
                max-width: 1000px;

                &::before {
                    display: block;
                }


                .reserve__img {
                    background: url('@asset/img/reserve.png');
                    width: 55%;
                    background-size: cover;
                    background-position: left;
                    order: -1;
                    border-top-left-radius: $br--default;
                    border-bottom-left-radius: $br--default;
                }

            }

        }

    }

}